.footer {
  background: var(--dark-gray);
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
	height: 61px;
  /* width: 30px; */
  opacity: .6;
  padding-left: 10%;
}

.footer p {
  color: var(--light-gray);
  width: 40%;
  line-height: 1.5em;
}

.footer p a {
  color: var(--light-blue);
  text-decoration: none;
}

.footer .social {
  padding-right: 10%;
}

.footer .social img {
  display: inline-block;
  width: 23px;
  margin-right: 20px;
}
