{{ define "main" }}

<main>
  <div class="about" id="about">
    {{ with .Site.GetPage "section" "about" }}
    <h1>
      Dejan <span class="blue">UX/UI</span> Designer
    </h1>
    <p>{{ .Content }}</p>
    {{ end }}
  </div>

  <div class="projects" id="projects">
      {{ range where .Data.Pages "Section" "projects" }}
        {{ partial "project" . }}
      {{ end }}
  </div>

  <div class="contact" id="contact">
      {{ with .Site.GetPage "section" "contact" }}
      <p>{{ .Content }}</p>
      {{ end }}
    </div>
</main>

{{ end }}
